.user-component {
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

@keyframes selectFriend {
  from {
    transform: none;
  }

  to {
    transform: translateY(5px);
    transform: scaleZ(1.2);
  }
}
.user-component:hover {
  animation: selectFriend 1s ease-in-out;
  padding-bottom: 15px;
  border-bottom: 1px solid greenyellow;
  transition: border-bottom 1s ease-in-out;
}

/* 보통 사진크기 만들기*/
.user-component__avatar {
  height: 70px;
  width: 70px;
  border-radius: 30%;
  margin-right: 25px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 500;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 16px;
  color: gray;
}

.user-component__avatar--xl {
  height: 80px;
  width: 80px;
}

.user-component__avatar--sm {
  height: 60px;
  width: 60px;
  border-radius: 30%;
}

.user-component__title-not-bold {
  font-size: 20px;
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.user-component__subtitle i {
  color: tomato;
  margin-left: 10px;
}
