@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variables.css";

body {
  font-family: "Heebo", sans-serif;
}

.Welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500px;
}
.Welcome-header__Title {
  font-size: 25px;
  margin-bottom: 20px;
}
.Welcome-header__text {
  width: 80%;
  opacity: 0.5;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 10px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#loign-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[Type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 0px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
  font-size: 13px;
}
